
// font-size: 22px;
$fs:1rem;
$lh:$fs*1.5;
$ff-roboto: 'Roboto', sans-serif; //300,300i,400,700
$ff-playfair: 'Playfair Display', serif; //400,700


//color variables
$background: #fefefe;
$header: #212121;
$quotes: #7a7a7a;
//header color

//contetn color

// break points
// large: 1800px
// medium: 960px
// small: 720px